* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poopins', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  padding:20px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  background-color: #f9660b;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight:bold;
  box-shadow:0 4px px rgba(0,0,0,0,1)
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #383837;
  padding: 10px;
  border-top: 1px solid #ddd;
  transition:transform 0.2s ease-in-out;
}

.story-item {
  background-color: ivory;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom:auto;
  transition: transform 0.2s ease-in-out;
}

.story-item ul {
  list-style-type: none;
}

.story-item:hover {
  transform: scale(1.02);
}

.story-item h2 {
  font-size: 1.3rem;
  margin-bottom: 13px;
  color: #707259;
}

.story-item a {
  color: #333;
  text-decoration: none;
  font-weight:bold;
}

.story-item a:hover {
  color: #ff6600;
  text-decoration: underline;
}

.story-details {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 0.9rem;
  color: #666;
}

.loading, .error {
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.error {
  color: #d9534f;
}

@media (max-width: 600px) {
  .App {
    padding: 10px;
  }
  .story-item {
    padding: 15px;
  }
  .story-details {
    flex-direction: column;
    gap: 5px;
  }
}